.mypy_cache/
/.coverage
/.coverage.*
/.nox/
/.python-version
/.pytype/
/dist/
/docs/_build/
/src/*.egg-info/
__pycache__/



.DS_Store
.vscode
.idea



# scratch files and folders
scratch*
cook*


# Code generation airtable
CodeGenerationTools/GridworksCore/SSoT/Airtable.xml
CodeGenerationTools/GridworksCore/SassyMQ/
.ssotme


# environment file
.env

# Ignore coverage
.coverage
htmlcov

# ignore output
output_data/**
!output_data/**/
!output_data/**/__init__.py
